[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "casadi_nlp"
version = "0.0.1"
authors = [
  { name="Filippo Airaldi", email="filippoairaldi@gmail.com" },
]
description = "Nonlinear Progamming with CasADi"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3.8",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering :: Mathematics"
]
dependencies = [
    "numpy >= 1.21.6",
    "casadi >= 3.5.5"
]

[project.urls]
"Homepage" = "https://github.com/FilippoAiraldi/casadi-nlp"
"Bug Tracker" = "https://github.com/FilippoAiraldi/casadi-nlp/issues"
